* {
  box-sizing: border-box;
}

body {
  background-color: #E1F4FD;
  text-align: center;
  font-family: 'PT Mono', monospace;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
  position: relative;
  top: 200px;
}

#draggable {
  width: 200px;
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translate(-50%, 0);
}

.dropzone {
  /*min-width: 100px;
  min-height: 100px;
  max-width: 192px;
  max-height: 192px;*/
  height: 20vw;
  width: 20vw;
  border: 1px solid #2E3192;
  margin: .5em;
  padding: .25em;
}

.dropzone img {
  height: 100%;
  width: 100%;
}

footer {
  margin: 1em 0 .5em 0;
  position: relative;
  top: 200px;
}

footer a {
  text-decoration: none;
  color: #2E3192;
}

.active {
  position: fixed;
  /* It will make the element move around the screen even if its parent has overflow: hidden; */
  left: 0;
  /* It will position the element in the initial left position of the screen. */
  top: 0;
  /* It will position the element in the initial top position of the screen. */
  will-change: transform;
  /* Warns the browsers that something will change so the browser can make all needed optimizations to make it happen. */
  z-index: 1;
  /* It will move the active draggable item one level in the stacking order. */
  pointer-events: none;
  /* This is used to make the elementFromPoint() function see what is behind the draggable-item while it is moving. */
  opacity: .75;
}

.hidden {
  position: absolute;
  left: -100%;
}

@media only screen and (min-width: 769px) {
  footer {
    position: static;
  }

  .dropzone {
    height: 17vh;
    width: 17vh;
  }

  section {
    position: static;
    display: grid;
    grid-template-columns: fit-content(20%) fit-content(20%) fit-content(20%) fit-content(20%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .dropzone:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .dropzone:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .dropzone:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }

  .dropzone:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
  }

  .dropzone:nth-child(5) {
    grid-column: 1;
    grid-row: 2;
  }

  .dropzone:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
  }

  .dropzone:nth-child(7) {
    grid-column: 1;
    grid-row: 3;
  }

  .dropzone:nth-child(8) {
    grid-column: 4;
    grid-row: 3;
  }

  .dropzone:nth-child(9) {
    grid-column: 1;
    grid-row: 4;
  }

  .dropzone:nth-child(10) {
    grid-column: 2;
    grid-row: 4;
  }

  .dropzone:nth-child(11) {
    grid-column: 3;
    grid-row: 4;
  }

  .dropzone:nth-child(12) {
    grid-column: 4;
    grid-row: 4;
  }

  #draggable {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    position: static;
    transform: none;
    align-self: center;
  }
}

/* @media only screen and (min-width: 890px) {
  .dropzone {
    width: 10vh;
    height: 10vh;
  }
} */