body {
  /*font goes here*/
  background-color: #98CBDA;
  font-family: 'IBM Plex Serif', serif;
}

/*HEADER*/
header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  min-width: 1050px;
  min-height: 250px;
  margin: auto;
}

header h1 {
  position: absolute;
  left: .25em;
  grid-column: 1;
  text-align: right;
}

header h1:first-child {
  left: .32em;
  color: #001A49;
  z-index: 2;
}

#mySketch {
  grid-column: 2;
  background-color: #028ABE;
  width: 800px;
  height: 250px;
  margin: 3em;
}

/*MAIN*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 134px;
}

section {
  background-color: #DEE8F1;
  padding: 1em;
}

main section:nth-child(1) {
  grid-column: 1;
  margin-left: 3em;
}

main section:nth-child(2) {
  grid-column: 2;
}

main section:nth-child(3) {
  grid-column: 3;
  margin-right: 3em;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

article {
  margin-left: 30%;
  margin-right: 10%;
  width: 60%;
  position: relative;
  top: -14em;
}

article img {
  width: 60%;
}

article img+p {
  font-style: italic;
  font-size: .75em;
}

.wide {
  width: 90%;
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 114px;
  background-image: url("images/wave.png");
  /*background-size: cover;*/
  background-repeat: repeat-x;
}

footer p {
  margin: 1em;
  margin-left: 3em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.persona {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.persona section:last-child {
  grid-column: 1 / 3;
  grid-row: 4;
}

.persona img {
  border: 5px solid #054280;
  margin: auto;
}

.nobull {
  list-style-type: none;
}

/* TYPE */
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  color: #028ABE;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: #001A49;
  font-weight: bold;
  font-size: 2em;
}

section h2 {
  margin-top: 0;
}

article h2 {
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  color: #028ABE;
}

h4 {
  font-size: 1.5em;
  color: #001A49;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #028ABE;
}

footer a {
  color: #001A49;
}

strong {
  color: #028ABE;
}

/* TYPE:
font-family: 'Amatic SC', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Sans', sans-serif;
*/
/* COLORS:
#DEE8F1
#98CBDA
#028ABE
#054280
#001A49
*/